/*about hero section*/

.about-hero {
 background-image:url("../img/hero-image-about.jpg");
 height: 450px;
 background-size:cover;
 position: relative;
 background-attachment: fixed;

}

.about-hero h1 {
    margin-top: 0px;
    text-align:center;
    color:white;
    position: absolute;
    top: 120px;
    left:150px;
    right:150px;
    padding: 150px;
}

nav ul li {
    
    background-color:white;

}

/*Columns begin here*/

.column {
   width:33.33%; 
   float: left;
   box-sizing:border-box;
   background-color: white;
  height: 500px;
  padding:0px 5px;
 position:relative;
     
}


.column p {
    
     text-align: justify; 
     min-height: 200px;
     overflow: auto; 
     line-height: 20px
}


.column h3 {
    
    text-align: center;
    text-decoration: underline;
    
}


#col-1 button {
    background-color: #66b3ff;
    
    
}

.column button {
  
  border:none;
  border-radius: 5px; 
  padding: 5px;
  position:absolute;
  bottom: 0px;
  
  
    
}

#col-2 button {
    background-color: #66b3ff;
  
    
}

#col-3 button {
    background-color: #66b3ff;
    
    
}

